.spending-item {
  width: 100%;
  padding: 3%;
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 5px 30px 5px rgba(0,0,0,0.2);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.session-item:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.spending-item__name {
  width: 60%;
  text-align: start;
}

.spending-item__others {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1;
}

.item__icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@media (min-width: 1000px) {
  .spending-item{
    font-size: 1.1rem;
  }
}