.recharts-layer tspan {
  fill: var(--primaryColor);
}

.recharts-layer .recharts-pie-label-line {
  stroke: black;
  opacity: 0.5;
}

.label-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.list-of-categories {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  /* Distributes items evenly */
}

.list-of-categories li {
  width: 50%;

  display: flex;
  align-items: center;
  list-style-type: none;
}


.donutchart-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
