/* NAVIGACE PC */

.navigace__PC-mode {
  display: none;
}

.ikon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media (min-width: 800px) {
  .navigace__PC-mode {
    width: 170px;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 3rem;
    background-color: var(--primaryColor);
    height: 100vh;
    padding: 3%;
  }

  .navigace__PC-mode a {
    color: var(--secondaryColor);
    text-decoration: none;
  }

  .ikon {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
