/* HLAVIČKA */

.app-header {
  display: flex;
  justify-content: space-between;
}

.app-header--left,
.app-header--right {
  margin: 0 2%;
  display: flex;
  gap: 3%;
  color: var(--primaryColor);
}

.app-header--left {
  font-size: 0.8rem;
}

.app-header--right {
  font-size: 0.6rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 2%;
  right: 2%;
}

.logo {
  width: 3rem;
  height: 3rem;
  background-image: url(./img/logo1.png);
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
  border-radius: 0.5rem;
}

.name {
  align-self: center;
  font-size: 0.8rem;
}

@media (min-width: 1000px) {
  .app-header {
    background-color: var(--secondaryColor);
    background-image: url("../../../public/bankovka2.webp");
    background-size: 5%;
    border-bottom: 1px solid silver;
    padding: 0.5rem;
  }

  .app-header--right {
    position: initial;
  }
}
