/* .title-page {
    display: flex;
    flex-direction: column;
}



.title-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20% 0;
}

.title-page__header {
    display: flex;
    flex-direction: column;
    margin: 5%;
    gap: 2px;
}

.title-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.title-page__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-image {
    width: 4rem;
    height: 4rem;
    border-radius: 5%;
} */
.title-page {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100dvh;
    margin: 0 auto;

}

.title-page__heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-cont: flex-start; */
    align-items: flex-start;
    gap: 2px;

}

.title-page__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    width: 100%;
}

.title-logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.welcome {
    font-size: 1.5rem;
    font-weight: bold;
}

.title-page__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title-page__name .MuiFormControl-root,
.title-page__name {
    width: 100%;
}



.logo-image {
    width: 4rem;
    height: 4rem;
    border-radius: 5%;
    margin-right: 5%;
}

.title-page__button {
    width: 100%;
}
