.reusable-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.reusable-modal__content {
  background-color: white;
  flex-direction: column;
  display: flex;
  padding: 5%;
  justify-content: center;
  align-items: center;
  color: var(--primaryColor);
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.close-btn {
  display: flex;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

@media (min-width: 800px) {
  .reusable-modal{
    padding: 1rem;
  }

  .reusable-modal__content {
    padding: 0;
  }

  .form-header, .inputs {
    margin: 1rem;
    width: 30vw;
  }

  .reusable-modal button {
    width: 30vw;
  }
}

@media (min-width: 1800px) {
  .reusable-modal {
    margin: 0 auto;
  }
  .reusable-modal .inputs, .reusable-modal .form-header {
    max-width: 400px;
  }
}