@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --backgroundColor: #E3EFF7;
  --primaryColor: #002374;
  --secondaryColor: #f7f7f7;

  --groceries: #87CEEB;
  --transport-and-travel: #E6C87C;
  --eating-out: #79CB9C;
  --entertainment: #FF6961;
  --other: #CCCCCC;
}

html {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

body {
  background-color: var(--backgroundColor);
  background-image: url("../public/bankovka2.webp");
  background-size: 120%;
  background-position: top;
  background-repeat: no-repeat;
  color: var(--primaryColor);
  margin: 0;
  min-height: 100%;
}

h1 {
  font-size: 1rem;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-main {
  display: flex;
  /* position: relative; */
  justify-content: center;
}

@media (min-width: 1000px) {
  body {
    background-image: none;
    background-color: var(--secondaryColor);
    margin: 0;
  }

  /* MAIN */
  .ocr-page {
    width: 80%;
  }

  /* MOBILE MODE */
  .mobile-mode {
    display: none;
  }
}
