.session-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.session-edit {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.session-menu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.session-menu:hover, .session-edit:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.session__items-box {
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin: 3% auto;
  gap: 10px;
}


@media (min-width: 800px) {
  .session-header {
    width: 40vw;
    padding: 0 1%;
  }

  .session__items-box {
    width: 40vw;
    margin: 10px 0;
  }
}