.session {
  margin: 2% 5%;
  width: 100%;
}

.session-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.session-edit {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.session-menu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.session__items-box {
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin: 3% auto;
  gap: 10px;
}


@media (min-width: 800px) {
    .session__items-box {
      width: 40vw;
      margin: 0;
    }
}